<h1>Listado de visitas</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Admin Panel</h3>
    <table class="table">
      <thead>
        <tr>
          <th>IMEI</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Comentario</th>
          <th>Empresa</th>
          <th>ID Empresa</th>
          <th>Contacto</th>
          <th>Cargo</th>
          <th>Rubro</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Celular</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <td><%= visit.imei %></td>
            <td><%= visit.usuario %></td>
            <td><%= visit.fecha.strftime('%F') %></td>
            <td><%= visit.hora.strftime("%H:%M:%S") %></td>
            <td><%= visit.latitude %></td>
            <td><%= visit.longitude %></td>
            <td><%= visit.comentario %></td>
            <td><%= visit.empresa %></td>
            <td><%= visit.id_empresa %></td>
            <td><%= visit.contacto %></td>
            <td><%= visit.cargo %></td>
            <td><%= visit.rubro %></td>
            <td><%= visit.email %></td>
            <td><%= visit.telefono %></td>
            <td><%= visit.celular %></td>
            <td><%= link_to 'Show', visit, class: "btn btn-default" %></td>
            <td><%= link_to 'Edit', edit_visit_path(visit), class: "btn btn-default" %></td>
            <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'Nueva Visita', new_visit_path, class: "btn btn-default" %>
