<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <h3>
      <strong>IMEI:</strong>
    </h3>
    <%= @visit.imei %>
  </p>

  <p>
    <h3>
      <strong>Usuario:</strong>
    </h3>
    <%= @visit.usuario %>
  </p>

  <p>
    <h3>
      <strong>Fecha:</strong>
    </h3>
    <%= @visit.fecha.strftime('%F') %>
  </p>

  <p>
    <h3>
      <strong>Hora:</strong>
    </h3>
    <%= @visit.hora.strftime("%H:%M:%S") %>
  </p>

  <p>
    <h3>
      <strong>Latitude:</strong>
    </h3>
    <%= @visit.latitude %>
  </p>

  <p>
    <h3>
      <strong>Longitude:</strong>
    </h3>
    <%= @visit.longitude %>
  </p>

  <p>
  <h3>
    <strong>Comentario:</strong>
  </h3>
  <%= @visit.comentario %>
  </p>

  <p>
  <h3>
    <strong>Empresa:</strong>
  </h3>
  <%= @visit.empresa %>
  </p>

  <p>
  <h3>
    <strong>ID Empresa:</strong>
  </h3>
  <%= @visit.id_empresa %>
  </p>

  <p>
  <h3>
    <strong>Contacto:</strong>
  </h3>
  <%= @visit.contacto %>
  </p>

  <p>
  <h3>
    <strong>Cargo:</strong>
  </h3>
  <%= @visit.cargo %>
  </p>

  <p>
  <h3>
    <strong>Rubro:</strong>
  </h3>
  <%= @visit.rubro %>
  </p>

  <p>
  <h3>
    <strong>Email:</strong>
  </h3>
  <%= @visit.email %>
  </p>

  <p>
  <h3>
    <strong>Telefono:</strong>
  </h3>
  <%= @visit.telefono %>
  </p>

  <p>
  <h3>
    <strong>Celular:</strong>
  </h3>
  <%= @visit.celular %>
  </p>

  <p>
  <h3>
    <strong>Foto:</strong>
  </h3>
  <%= image_tag @visit.image.url %>
  </p>

  <%= link_to 'Edit', edit_visit_path(@visit), class: "btn btn-default" %>
  <%= link_to 'Back', visits_path, class: "btn btn-default" %>
</div>
